{% extends "base.html" %}

{% block css %}<link rel="stylesheet" type="text/css" href="/static/css/pages/team.css">{% endblock %}

{% block content %}
<h1 id="page-title">{{ this.name }}</h1>
<p>{{ this.role }}, {{ this.location }}</p>
<img href="static/images/{{ this.img }}" alt="picture of {{ this.name }}">
<div id="container">
    {{ this.content }}
</div>
{% if this.personalURL %}
    <p>{{ this.name }} has a personal website here: <a href="{{ this.personalURL }}">{{ this.personalURL }}</a></p>
{% endif %}
{% for url in this.socialURL %}
    <a href="{{ this.socialURL[url] }}">{{ url }}</a>
{% endfor %}

<h4>Posts by {{ this.name }}</h4>
{% for post in site.content["blog.yaml"].pages %}
	{% include "blog/post_list.html" member=this.name %}
{% endfor %}

{% endblock %}