@import "base/fonts", "base/color";

@import "components/tags";

.post-container {
    margin: 2em 0;
    padding: 1em;
    background-color: $post-bg;
}

.post-title{
    margin: 0;

    a {
        text-decoration: none;    
    }
}

.post-about {
    font-size: $size-links;
    padding: 1em 0;
}