@import "base/fonts", "base/color";

.team-container {
    margin: 2em 0;
    padding: 1em;
    background-color: $post-bg;
}

.team-title{
    margin: 0;
}

.team-role {
    font-style: italic;
}

.team-img {
    background-color: $tags;
    padding: 100px 10px;
}