{% extends "base.html" %}

{% block title %}{{ this.title }}{% endblock %}

{% block content %}
<h1>{{ this.title }}</h1>
<h4>
    Published on <time datetime="">{{ this.posted }}</time> by
    {% for authors in this.authors %}
    <a href="">{{ authors }}</a>
    {% endfor %}.
</h4>
{% if page.modified %}
<br />
<h4>Modified on <time datetime="">{{ this.modified }}</time>.</h4>
{% endif %}
<p>category: <a href="" class="tags">{{ this.category }}</a></p>
<p>{{ this.content }}</p>
<!-- TODO: include author/s card -->
{% for tag in this.tags %}<a href="" class="tags">{{ tag }}</a>{% endfor %}
{% endblock %}