{% extends "base.html" %}

{% block css %}<link rel="stylesheet" type="text/css" href="/static/css/pages/blog.css">{% endblock %}

{% block title %}
<h1>{{ this.title }}</h1>
<h4>
    Published on <time datetime="">{{ this.posted }}</time> by
    {% for author in this.authors %}
        {% include "blog/author_link.html" author=author, members=site.content["team.yaml"].pages %}
    {% endfor %}.
</h4>
{% if page.modified %}
    <br />
    <h4>Modified on <time datetime="">{{ this.modified }}</time>.</h4>
{% endif %}
{% endblock %}

{% block content %}
<div id="container">
	<p>category: <a href="" class="tags">{{ this.category }}</a></p>
    {{ this.content }}
</div>

{% for author in this.authors %}
{% include "team/team_list.html" author=author, members=site.content["team.yaml"].pages %}
{% endfor %}

{% for tag in this.tags %}<a class="post-tag" href="" class="tags">{{ tag }}</a>{% endfor %}
{% endblock %}