<form id="contact-form" action="" method="">
    <h3 id="call-to-action">{{ this.call_to_action_text }}</h3>
    <label for="name">Name and/or company: </label>
    <input type="text" id="name-input" name="name" placeholder="Your name and/or company">
    <label for="contact">Email address or contact number: </label>
    <input type="email" id="email-input" name="contact" placeholder="Email address or contact number">
    <label for="message">Message: </label>
    <textarea id="message-input" name="message" rows=5 placeholder="Tell us a little bit about you and/or your company"></textarea>
    <button type="submit" id="form-submit-button">Submit</button>
</form>