{% extends "base.html" %}

{% block title %}{{ this.title }}{% endblock %}
{% block css %}<link rel="stylesheet" type="text/css" href="/static/css/pages/team.css">{% endblock %}

{% block content %}
{% for member in site.content["team.yaml"].pages %}
<div class="team-container">
    <h2 class="team-title">{{ member.name }}</h2>
    <p class="team-role">{{ member.role }}, {{ member.location }}</p>
    <img class="team-img" href="static/images/{{ member.photo }}" alt="picture of {{ member.name }}">
    <p>{{ member.summary }}</p>
    <a class="team-link" href="{{ member.url }}">read more</a>
</div>
{% endfor %}
{% endblock %}