#contact-form {
    width: 40%;
    margin: 0 auto;
}

#name-input, #email-input, #message-input {
    width: 100%;
    font-family: sans-serif;
    font-size: 1.6rem;
    padding: 0.2em;
    margin-bottom: 1em;
}

#message-input {
    resize: vertical;
}