#nav {
    background-color: $primary-color;
    display: flex;
    align-items: center;
    height: 100px;
}

#site-logo {
	margin: 0 0 0 5%;
	width: 25%;
}

#menu {
    margin-right: 5%;
    display: flex;
    width: 65%;
    justify-content: space-between;

    a {
        font-size: $size-nav;
        text-decoration: none;
    }
    
    @include sm {
        flex-direction: column;
    }
    
}