#page-title {
	background-color: $primary-color;
    text-align: center;
    margin: 0 auto;
    box-shadow: inset 0 20px 20px -20px $color-heading, inset 0 -20px 20px -20px $color-heading;
    padding: 2em;
}